<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javacodegeeks.mapper.MovieMapper">
	<select id="getMoviesList"
		resultType="com.javacodegeeks.model.Movies">
		select * from MOVIES
	</select>

	<insert id="insertMovie">
		INSERT INTO MOVIES (id,title,description) VALUES
		(#{id},#{title},#{description})
	</insert>

	<delete id="deleteMovie">
		DELETE from MOVIES where id=(#{id})
	</delete>
	<update id="modifyMovie">
		UPDATE MOVIES set
		title = #{title},
		description = #{description}
		where id = #{id}
	</update>
</mapper>